In [1]:
import pandas as pd

In [8]:
pd.read_csv('txns.csv', encoding='iso8859-1', delimiter=';', columns)

,AT66666666666666,Bezahlung Karte MC/000009284|ORPHEUM BAR 2371 K002 28.02. 21:14|ORPHEUM BAR\\GRAZ\8020 ST,01.03.2023,28.02.2023,"-7,40",EUR
0,AT66666666666666,95111243 F...,28.02.2023,28.02.2023,"-29,90",EUR
1,AT66666666666666,Abbuchung Onlinebanking B...,28.02.2023,28.02.2023,"-1.100,00",EUR
2,AT66666666666666,Gutschrift Onlinebanking B...,28.02.2023,28.02.2023,"+1.100,00",EUR
3,AT66666666666666,Bezahlung Karte M...,28.02.2023,27.02.2023,"-17,50",EUR
4,AT66666666666666,9325008697 F...,27.02.2023,27.02.2023,"-29,00",EUR
...,...,...,...,...,...,...
107,AT66666666666666,Bezahlung Karte M...,02.01.2023,02.01.2023,"-40,99",EUR
108,AT66666666666666,Abbuchung Onlinebanking 000000144919 F...,02.01.2023,02.01.2023,"-284,40",EUR
109,AT66666666666666,339099446722187 B...,02.01.2023,02.01.2023,"-62,76",EUR
110,AT66666666666666,Abbuchung Onlinebanking B...,02.01.2023,02.01.2023,"-400,00",EUR
111,AT66666666666666,Gutschrift Onlinebanking B...,02.01.2023,02.01.2023,"+2.000,00",EUR